# Node
node_modules/
.next/
.env
.env.*
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# VSCode
.vscode/

# Mac
__MACOSX/

# Python
*.pyc
__pycache__/

# System
Thumbs.db

# Build
build/
dist/

# Misc
.idea/
*.iml
*.swp
*.swo

# Submodules
.gitmodules

# OS
*.bak
*.tmp
